<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUDMahasiswaADO2.Properties.Settings.SQLQuery1_sqlConnectionString"
            connectionString="Data Source=LAPTOP-49331NDM\RIANIINDRI;Initial Catalog=SQLQuery1.sql;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CRUDMahasiswaADO2.Properties.Settings.DBAkademikADOConnectionString"
            connectionString="Data Source=LAPTOP-49331NDM\RIANIINDRI;Initial Catalog=DBAkademikADO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>